<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    <title>Détails du Catway <%= catway.catwayNumber %></title>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <h1>Détails du Catway n° <%= catway.catwayNumber %></h1>
        <ul>
            <li><strong>Type :</strong> <%= catway.catwayType %></li> 
            <li><strong>État :</strong> <%= catway.catwayState %></li> 
        </ul>
        
        <a href="/catways/<%= catway.catwayNumber %>/edit">[Modifier les détails du catway]</a>
        <form action="/catways/<%= catway.catwayNumber %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit" class="btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce catway ?');">Supprimer le catway</button>
        </form>
        <a href="/catways">Retour au tableau de bord des catways</a>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>