<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    <title>Modifier un catway</title>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <h1>Modifier un catway</h1>
        <form action="/catways/<%= catway.catwayNumber %>?_method=PUT" method="POST">
            <input type="text" name="catwayState" placeholder="État du catway" value="<%= catway.catwayState %>" required>
            <br>
            <button type="submit">Enregistrer les modifications</button>
        </form>
        <a href="/catways/<%= catway.catwayNumber %>">Retour aux détails du catway</a>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>